---
import Layout from '../layouts/Layout.astro';
import CardList from "../components/CardList.astro";
import PageTitle from "../components/PageTitle.astro";
import type {Card, Set} from "../types";




const filters = ['numero', 'types', 'rarity', 'set', 'name'];

const typesList = await fetch(`${import.meta.env.API_URL}/types`);
const types = await typesList.json() as string[];

const rarityList = await fetch(`${import.meta.env.API_URL}/rarity`);
const rarity = await rarityList.json() as string[];

const setsList = await fetch(`${import.meta.env.API_URL}/sets`);
const sets = await setsList.json() as Set[];

const searchParams = Astro.url.searchParams;
const typesParam = searchParams.has('types') ? searchParams.get('types') : null;
const rarityParam = searchParams.has('rarity') ? searchParams.get('rarity') : null;
const setParam = searchParams.has('set') ? searchParams.get('set') : null;
const numeroParam = searchParams.has('numero') ? searchParams.get('numero') : null;
const nameParam = searchParams.has('name') ? searchParams.get('name') : null;

if (typesParam && (typesParam === 'all' || !types.map(type => type.toLowerCase()).includes(typesParam))) {
	Astro.url.searchParams.delete('types');
	return Astro.redirect(Astro.url.href);
}

if (rarityParam && (rarityParam === 'all' || !rarity.map(rarity => rarity.toLowerCase()).includes(rarityParam))) {
	Astro.url.searchParams.delete('rarity');
	return Astro.redirect(Astro.url.href);
}

if (setParam && (setParam === 'all' || !sets.map(set => set.name.toLowerCase()).includes(setParam))) {
	Astro.url.searchParams.delete('set');
	return Astro.redirect(Astro.url.href);
}

if (numeroParam && !(numeroParam >= 1 && numeroParam <= 151)) {
	Astro.url.searchParams.delete('numero');
	return Astro.redirect(Astro.url.href);
}

for (const [key, _] of searchParams.entries()) {
	if (!filters.includes(key)) {
		Astro.url.searchParams.delete(key);
		return Astro.redirect(Astro.url.href);
	}
}

const response = await fetch(`${import.meta.env.API_URL}/cards?${searchParams.toString()}`);
let cards = await response.json() as Card[];

cards = cards.sort((a, b) => a.pokemon.numero - b.pokemon.numero || b.price - a.price);
if (!new Map(searchParams.entries()).size > 0) {
	cards = cards.filter((card, index, self) => self.findIndex(c => c.pokemon.numero === card.pokemon.numero) === index);
}
---

<Layout title="Pokéstore">
	<main>
		<button id="scroll-btn" class="scroll-btn">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path
					d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
				/>
			</svg>
		</button>
		<div class="fixed-container">
			<div class="top-container">
				<PageTitle title="Card List"></PageTitle>
				<div class="filters-container">
					<div class="filters-top">
						<button class="reset-btn filter">Reset filters</button>
						<input type="text" placeholder="ID" name="numero" class="filter">
						<input type="text" placeholder="Name" name="name" class="filter">
					</div>
					<div class="filters-bottom">
						<select name="set" id="set" class="filter">
							<option value="all">All sets</option>
							{sets.sort((a, b) => a.name.localeCompare(b.name))
								.map(set =>
									<option value={set.name.toLowerCase()}>{set.name}</option>)}
						</select>
						<select name="type" id="type" class="filter">
							<option value="all">All types</option>
							{types.sort((a, b) => a.localeCompare(b))
								.map(type =>
									<option value={type.toLowerCase()}>{type}</option>)}
						</select>
						<select name="rarity" id="rarity" class="filter">
							<option value="all">All rarities</option>
							{rarity.sort((a, b) => a.localeCompare(b))
								.map(rarity =>
									<option value={rarity.toLowerCase()}>{rarity}</option>)}
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="cards-grid">
			{cards.map(card =>
				<CardList card={card}/>)}
		</div>
	</main>
	<script>
		/*TYPE FILTER*/
		const selectType = document.querySelector('#type') as HTMLSelectElement;
		let currentType = new URL(window.location.href).searchParams.get('types');
		const options = Array.from(selectType.options).map(option => option.value.toLowerCase());
		if (!options.includes(currentType)) {
			currentType = 'all';
		}
		selectType.value = currentType || 'all';

		addFilterToUrl(selectType, 'types', 'all');

		/*RARITY FILTER*/
		const selectRarity = document.querySelector('#rarity') as HTMLSelectElement;
		let currentRarity = new URL(window.location.href).searchParams.get('rarity');
		const optionsRarity = Array.from(selectRarity.options).map(option => option.value.toLowerCase());
		if (!optionsRarity.includes(currentRarity)) {
			currentRarity = 'all';
		}
		selectRarity.value = currentRarity || 'all';

		addFilterToUrl(selectRarity, 'rarity', 'all');

		/*SET FILTER*/
		const selectSet = document.querySelector('#set') as HTMLSelectElement;
		let currentSet = new URL(window.location.href).searchParams.get('set');
		const optionsSet = Array.from(selectSet.options).map(option => option.value.toLowerCase());
		if (!optionsSet.includes(currentSet)) {
			currentSet = 'all';
		}
		selectSet.value = currentSet || 'all';

		addFilterToUrl(selectSet, 'set', 'all');

		/*NUMERO FILTER*/
		const inputNumero = document.querySelector('input[name="numero"]') as HTMLInputElement;
		let currentNumero = new URL(window.location.href).searchParams.get('numero');
		if (currentNumero && !(currentNumero >= 1 && currentNumero <= 151)) {
			currentNumero = null;
		}
		inputNumero.value = currentNumero || '';

		addFilterToUrl(inputNumero, 'numero', '');

		/*NAME FILTER*/
		const inputName = document.querySelector('input[name="name"]') as HTMLInputElement;
		let currentName = new URL(window.location.href).searchParams.get('name');
		inputName.value = currentName || '';

		addFilterToUrl(inputName, 'name', '');

		/*RESET BUTTON*/
		const resetBtn = document.querySelector('.reset-btn') as HTMLButtonElement;

		resetBtn.addEventListener('click', () => {
			window.location.href = new URL(window.location.href).origin;
		});

		/*SCROLL BUTTON*/
		const scrollBtn = document.querySelector('#scroll-btn') as HTMLButtonElement;
		scrollBtn.addEventListener('click', () => {
			const cardsGrid = document.querySelector('.cards-grid') as HTMLDivElement;
			cardsGrid.scrollTo({top: cardsGrid.scrollHeight, behavior: 'smooth'});
		});

		function addFilterToUrl(element, paramName, removeName) {
			element.addEventListener('change', (event) => {
				const target = event.target as HTMLSelectElement;
				const url = new URL(window.location.href);
				url.searchParams.set(paramName, target.value);
				if (target.value === removeName) {
					url.searchParams.delete(paramName);
				}
				window.location.href = url.toString();
			});
		}
	</script>
</Layout>
<style>
	:root {
		--card-margin: 1rem;
		--header-padding: 0.6rem;
	}

	body {
		overflow: hidden;
	}

	main {
		padding: var(--header-padding);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 5rem);
		gap: 1rem;
		margin-bottom: 10rem;
	}

	.fixed-container {
		width: calc(100% - var(--header-padding) * 2);
	}

	.cards-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		place-items: center;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	.cards-grid::-webkit-scrollbar, html::-webkit-scrollbar, body::-webkit-scrollbar {
		display: none;
	}

	.cards-grid, html, body {
		scrollbar-width: none;
	}

	.top-container {
		display: flex;
		justify-content: space-between;
		margin-left: 7rem;
		margin-right: 7rem;
		align-items: center;
		border-bottom: white solid 6px;
	}

	.filters-container {
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		gap: 1rem;
	}

	select:hover {
		cursor: pointer;
	}

	input::placeholder {
		color: white;
		opacity: 1;
	}

	input, select {
		border-radius: 4px;
		border: 3px solid #FFF;
		background: transparent;
		color: white;
		font-family: "Clash Display", serif;
		font-weight: 500;
		padding: 0.2rem;
		width: 10rem;
		box-sizing: content-box;
	}

	input:focus {
		outline: none;
	}

	.filters-top, .filters-bottom {
		gap: 1rem;
		display: flex;
	}

	.reset-btn {
		border-radius: 4px;
		border: 3px solid #FFF;
		color: white;
		font-family: "Clash Display", serif;
		font-weight: 500;
		padding: 0.2rem;
		width: 10rem;
		box-sizing: content-box;
		background-image: linear-gradient(to right, #FFF, #FFF);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: 100% 0;
		transition: background-size 0.1s ease-in-out, color 0.1s ease-in-out;
		background-color: transparent;
	}

	.reset-btn:hover {
		cursor: pointer;
		color: #000;
		background-size: 100% 100%;
		font-weight: 500;

	}

	#scroll-btn {
		background-color: #232323;
		border-radius: 100%;
		border: none;
		fill: #aeaeae;
		height: 3rem;
		left: calc(100vw - 4.5rem);
		opacity: 60%;
		padding: 0.8rem;
		position: absolute;
		top: calc(100vh - 5rem);
		transition: all .4s;
		width: 3rem;
		z-index: 9999999999999;
	}

	#scroll-btn:hover {
		opacity: 100%;
		cursor: pointer;
		transform: scale(1.1);
	}
</style>
