---
import {Card} from "../types";
import {Image} from "astro:assets";


interface Props {
    card: Card;
}

const {name, imageUrl, set, rarity, price} = Astro.props;
---
<div class="card-container">
	<Image
			alt={name}
			height="420"
			src={imageUrl}
			width="300"
	/>
	<div class="card-info">
		<h2>{name}</h2>
		<p>{set}</p>
		<p>{rarity}</p>
		<p class="price">{price}</p>
	</div>

</div>
<style>

</style>