---
import "../fonts/stylesheet.css";
import pokeballSvg from "../assets/pokeball.svg?raw";
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description?: string;
	image?: {
		url: string;
		alt: string;
	};
}

const {
	title,
	description = "",
	image,
} = Astro.props;

const pageDescription = `${description} - PokéStore: A Pokémon TCG list.`.trim();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content={pageDescription}/>

		<meta name="theme-color" content="#000"/>
		<meta name="color-scheme" content="dark light"/>
		<meta name="robots" content="index, follow"/>
		<meta name="language" content="en"/>
		<meta name="author" content="Ayfri;Anta;Bahsiik"/>
		<meta name="keywords" content="Pokémon,TCG,Card,Game"/>

		<meta property="og:site_name" content="PokéStore"/>
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={pageDescription}/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://pokestore.ayfri.com"/>

		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<meta name="twitter:card" content="summary_large_image"/>

		{image &&
			<>
			<meta property="og:image" content={image.url}/>
			<meta property="og:image:alt" content={image.alt}/>
			<meta name="twitter:image" content={image.url}/>
			<meta name="twitter:image:alt" content={image.alt}/>
			</>}

		<link rel="sitemap" href="/sitemap-index.xml"/>
		<link rel="icon" type="image/png" href="/favicon.png"/>
		<link rel="alternate" href="https://pokestore.ayfri.com" hreflang="en"/>
		<link rel="alternate" href="https://pokestore.ayfri.com" hreflang="x-default"/>

		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-PS0GZ8MEB8"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}

			gtag('js', new Date());
			gtag('config', 'G-PS0GZ8MEB8');
		</script>

		<!-- Cloudflare Web Analytics -->
		<script
			is:inline
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "9409bd4087bd4c07bd6e98a85b1a21c9"}'
		></script>
		<!-- End Cloudflare Web Analytics -->

		<title>{title} - PokéStore</title>
	</head>
	<body>
		<Header/>
		<slot/>
		<div class="background">
			<Fragment set:html={pokeballSvg}/>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
		);
		--header-padding: 0.6rem;
	}

	html {
		font-family: "Clash Display", serif;
		background: #000;
		background-size: 224px;
	}

	body {
		margin: 0;
		padding: 0;
	}

	.background {
		position: fixed;
		top: 10%;
		filter: invert(9%) sepia(2%) saturate(12%) hue-rotate(332deg) brightness(54%) contrast(88%);
		z-index: -99999999999999999;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
</style>
